@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body {
  /* background-image: url(img/paper.jpg); */
  background-color: rgb(255, 255, 246);
}

body {
  font-family: "Times New Roman", Times, serif;
}

#barn {
  background-image: url(img/standingwcamera.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#barn:hover {
  background-image: url(img/blitz.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#teenager {
    background-image: url(img/computerworking.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  #teenager:hover {
    background-image: url(img/photoshopping.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #voksen {
    background-image: url(img/ked.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  #voksen:hover {
    background-image: url(img/ide.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
